/* RESET */ 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* RESET */

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 70%;
  border: 1px solid red;
}

#controlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  flex-basis: 50%;
  height: 100%;
}

#pomodoro-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#break-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-basis: 50%;
  width: 100%;
}

#session-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-basis: 50%;
  width: 100%;
}